.intro {
    max-width: 690px;
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   /* border: 1px solid red;*/
  }
  
  @media (max-width: 1024px) {
    .intro {
      margin-left: 0%;
    }
  }
  @media (max-width: 768px) {
    .intro {
      margin-top: 88px;
      margin-left: 3%;
      margin-right: 3%;
      max-width: 93%;
    }
  }
  @media (max-width: 320px) {
    .intro {
      margin-top: 64px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }