.place__link {
    margin: 0;
    max-width: 456px;
   /* font-family: "Inter";*/
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-decoration: none;
   /* border: 1px solid red;*/
  }
  
  .place__link:hover {
    text-decoration: underline;
    opacity: 0.8;
  }

  @media (max-width: 320px) {
    .place__link {
      margin: 0px 16px;
    }
  }