.lead__capture {
    font-style: normal;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    /* border: 1px solid red;*/
}

@media (max-width: 768px) {
    .lead__capture {
        margin-left: 3%;
    }
}

@media (max-width: 320px) {
    .lead__capture {
        margin-left: 16px;
    }
}