.cover__overlay {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 740px;
}

@media (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media (max-width: 520px) {
    .cover__overlay {
        min-height: 300px;
    }
}

@media (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}